* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9178c8b8-b0b0-4e26-8fb7-63ae3ff5aebf/d9lb7db-972dfb99-2953-47ef-88ea-2c8c76fdac5c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzkxNzhjOGI4LWIwYjAtNGUyNi04ZmI3LTYzYWUzZmY1YWViZlwvZDlsYjdkYi05NzJkZmI5OS0yOTUzLTQ3ZWYtODhlYS0yYzhjNzZmZGFjNWMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.hpKkfCIA6UZZdCWRJ08rFKvF21oU4N4DwvKQymjLW1Y);
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-align: center;
  margin: 1rem;
}

button {
  display: block;
  width: 80px;
  height: 60px;
  font-size: large;
  margin: auto;
  border-radius: 0.5rem;
  border: 2px solid rgb(255, 67, 183);
}

button:hover {
  background-color: rgb(255, 82, 203);
  color: white;
}

h3,
h2 {
  text-align: center;
  color: white;
  margin: 1rem;
}

.paragraph,
.paragraph1 {
  text-align: center;
  margin: 0.5rem;
}

.game-text {
  background-color: rgba(128, 0, 128, 0.575);
  width: 400px;
  height: auto;
  margin: auto;
  padding: 1%;
  margin-top: 1rem;
}
