:root {
  --pink-one: rgb(255, 131, 214);
  --pink-two: rgb(255, 22, 177);
}
@font-face {
  font-family: "rainyheartsmedium";
  src: url("./font/rainyhearts-webfont.woff") format("woff"),
    url("./font/rainyhearts-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: rgb(19, 12, 49); */
  background-image: url("./images/aesthetic-pink-desktop\ android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-yz9df-1920x1080.jpg");
  font-family: "rainyheartsmedium";
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--pink-one);
  height: 50px;
  border-bottom: dotted white;
}
.nav-title {
  color: white;
  font-weight: bold;
}
.hero-section {
  display: flex;
  justify-content: right;
}

.hero-image {
  width: 80vw;
  opacity: 50%;
  transform: rotate(-20deg);
  margin-top: 2rem;
  margin-bottom: 3rem;
}
/* about */
.about {
  width: 100vw;
  height: 70vw;
  background-image: linear-gradient(var(--pink-one), var(--pink-two));
  opacity: 90%;
  display: flex;
}

.about-text {
  width: 50vw;
  height: auto;
  color: white;
  margin: 2rem;
}
.about-image {
  width: 50vw;
  height: auto;
  margin: 2rem;
}
/* projects */
.projects {
  width: 100vw;
  height: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: auto;
  background-color: var(--pink-one);
  margin: 1rem;
  border-radius: 0.5rem;
  border: dotted white;
}
.project-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-title {
  color: white;
}
/* contact */
.contact {
  width: 100vw;
  height: 40vw;
  background-color: var(--pink-one);
}
