:root {
  --pink-one: rgb(255, 131, 214);
  --pink-two: rgb(255, 22, 177);
}
@font-face {
  font-family: "rainyheartsmedium";
  src: url("./font/rainyhearts-webfont.woff") format("woff"),
    url("./font/rainyhearts-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: rgb(19, 12, 49); */
  background-image: url("./images/aesthetic-pink-desktop\ android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-yz9df-1920x1080.jpg");
  /* backdrop-filter: opacity(0.4); */
  font-family: "rainyheartsmedium";
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--pink-one);
  height: 5rem;
  width: 100vw;
  border-bottom: dotted white;
}
.nav-ul {
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
}

.nav-ul > li {
  margin: 1rem;
  padding: 3%;
  list-style: none;
  font-weight: bold;
  /* padding: 0.5rem; */
}
.nav-ul > li:hover {
  border: dotted 3px white;
  border-radius: 0.5rem;
}
.nav-title {
  color: white;
  font-weight: bold;
  margin: 1rem;
  font-size: 2rem;
}

.hero-section {
  display: flex;
  justify-content: center;
}

.hero-image {
  max-width: 400px;
  /* width: 80vw; */
  /* opacity: 50%; */
  /* transform: rotate(-20deg); */
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: var(--pink-two);
}
.gif {
  width: 85px;
  height: 85px;
  position: absolute;
  right: 43%;
  top: 19%;
  z-index: 2;
}

.colors {
  color: white;
  padding: 0.5em;
  text-shadow: 1px 1px rgba(black, 0.5);
  position: absolute;
  /* width: 100%;
  height: 100%; */
  /* user-select: none; */
  z-index: 1;
}

.rainbow {
  width: 270px;
  height: 145px;
  margin-top: 2.4rem;
  border-radius: 0.3rem;
  /* margin: auto; */
}
/* about */
.about {
  width: 100%;
  height: 70vw;
  background-image: linear-gradient(var(--pink-one), var(--pink-two));
  opacity: 90%;
  border-radius: 1rem;
  /* border-top: solid 8px white; */
  display: flex;
}

.about-text {
  width: 50%;
  height: auto;
  color: white;
  margin: 2rem;
  border: solid 10px white;
  border-radius: 1rem;
  text-align: center;
}

.about-text > p {
  margin: 10px;
  font-size: 1.5rem;
}
.browser-border {
  width: 100%;
  height: 30px;
  color: black;
  background-color: white;
  border: 2px solid pink;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: end;
}
.square-icon {
  width: 1.6rem;
}
hr {
  height: 20px;
}

.about-image {
  width: 50vw;
  height: auto;
  margin: 2rem;
  border: solid 10px white;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}
/* projects */
.projects {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects-title {
  color: var(--pink-one);
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch; */
  /* width: 50vw; */
  /* height: auto; */
  background-color: var(--pink-one);
  margin: 1rem;
  border-radius: 0.5rem;
  border: dotted white;
  box-shadow: rgb(255, 255, 255) 10px -10px 0px -3px, var(--pink-two) 10px -10px,
    rgb(255, 255, 255) 20px -20px 0px -3px, var(--pink-two) 20px -20px,
    rgb(255, 255, 255) 30px -30px 0px -3px, var(--pink-two) 30px -30px;
}
.project-section {
  margin: 2rem;
}
.project-image {
  width: 200px;
  height: auto;
  border-radius: 0.5rem;
  margin: 20px;
}
.project-image:hover {
  /* box-shadow: 5px 5px var(--pink-two); */
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
.card-title {
  color: white;
  text-align: center;
}

.card-text {
  text-align: center;
}
/* contact */
.contact {
  width: 100vw;
  height: 600px;
  background-color: var(--pink-one);
  margin-top: 4rem;
  opacity: 90%;
}

.contact-div {
  width: 80%;
  height: 400px;
  border: 8px solid var(--pink-two);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  /* box-shadow: var(--pink-two) 0px 20px 30px -10px; */
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.email-div {
  width: 70%;
  height: auto;
}

.email-section {
  width: 90%;
  height: 50px;
  background-color: white;
  border: 3px solid var(--pink-two);
  margin: 1rem;
}
