* {
  padding: 0;
  margin: 0;
}

#score {
  text-align: center;
}

#game {
  display: block;
  width: 586px;
  height: 280px;
  border: solid rgb(255, 91, 219);
  background-image: url(https://image.shutterstock.com/image-vector/pink-landscape-wallpaper-background-view-260nw-1262652052.jpg);
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 1rem;
}

#character {
  height: 60px;
  width: 60px;
  position: relative;
  top: 200px;
  background-image: url(./bunny-pixel.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

#obstacle {
  height: 60px;
  width: 60px;
  position: relative;
  top: 140px;
  left: 520px;
  background-image: url(./monster-pixel.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* animation: monster 1.33s infinite; */
}

@keyframes monster {
  0% {
    left: 520px;
  }
  100% {
    left: -10px;
  }
}
/* #health {
  height: 60px;
  width: 60px;
  position: relative;
  top: 10px;
  left: 515px;
  background-image: url(./food-pixel.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: health 2.33s infinite;
  display: block;
}

@keyframes health {
  0% {
    left: 520;
    top: 10px;
  }
  100% {
    left: -10px;
    top: -10px;
  }
} */

.jump-animation {
  animation: jump 0.5s;
}

@keyframes jump {
  0% {
    top: 200px;
  }
  50% {
    top: 60px;
  }
  75% {
    top: 60px;
  }
  100% {
    top: 200px;
  }
}

.score {
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 1rem;
}

button {
  padding: 2%;
  margin: auto;
  display: block;
  margin-top: 1rem;
  background-color: rgb(255, 91, 219);
  border: solid rgb(226, 0, 124);
  border-radius: 0.5rem;
  color: white;
  font-size: large;
}

button:hover {
  cursor: pointer;
  background-color: rgb(226, 0, 124);
}
